/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poiret+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Poiret One', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poiret One', sans-serif;
    letter-spacing: 2px;
    color: #deb
}
/* Header */
header {
    background-color: rgb(252, 115, 65);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #deb;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #deb;
}

/* Navbar styles with dropdown toggles */
nav {
    position: absolute;
    background-color: rgb(252, 115, 65);
    width: 100%
    left: 0;
    padding: 0 1rem;
    box-shadow: 2px 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}
/* Main */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 38px;
}

/* Hero section */
#hero {
    height: 750px;
    width: 100%;
    background: url("../images/mealprephero.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity level */
    background-color: rgba(235, 120, 0, 0.7);
    font-size: 130%;
    text-transform: capitalize;
    position: absolute;
    bottom: 100px;
    width: 90%;
    min-height: 200px;
    padding-top: 20px;
    padding-left: 10px;
}

#mealprephub-title{
    font-size: 200%;
    padding-bottom: 20px;
    font-weight: 900;

}

#cover-text > h2, #cover-text > h3 {
    color: #deb;
}

/* Recipe List section */
    /* Recipes section title */
    #recipe-page-title {
        background:url('../images/recipe-page-title.webp') no-repeat center/cover;
        position: relative;
        padding: 10px;
    }

#recipes {
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

#recipes a {
text-decoration: none;
color: #deb;
}

#recipe-selection{
    font-size: 1.5rem;
}

    /* Indications regarding prep time cook time and difficulty */
    #recipe-selection p{
        font-size: 1rem;
    }

/* Footer */
#social-networks {
    background-color: rgb(252, 115, 65);
    text-align:center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #deb;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;   
    }

    .nav-toggle-label {
        display: none;
    }

     #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main Content */
    main {
        /* Push main content down to accomodate larger header */
        margin-top: 76px;
    }

        /* Hero section */
        #cover-text {
            width: 400px;
            left: 150px;
            bottom: 250px;
            padding-left: 10px;
    }

        #mealprephub-title {
            font-size: 200%;
            padding-bottom: 20px;
            font-weight: 900;
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #deb;
    }

